<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
<!-- вкл русских букв -->
<!--<request-character-encoding>UTF-8</request-character-encoding>-->

     <welcome-file-list>
        <welcome-file>Calc</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Calc</servlet-name>
        <servlet-class>webCalc.Calc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>