<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
<!-- вкл русских букв -->
<!--<request-character-encoding>UTF-8</request-character-encoding>-->

     <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>webCalc.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>webCalc.MyFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>MyFilter</filter-name>
	  <url-pattern>*.jsp</url-pattern>
	</filter-mapping>
</web-app>